---
import { getCollection } from 'astro:content'

import Layout from '../layouts/Layout.astro'

const docsEntries = await getCollection('docs')
const postsEntries = await getCollection('posts')
---

<Layout title="astro-content-devtools">
  <main>
    <h1>astro-content-devtools</h1>
    <ul>
      {
        docsEntries.map((docsEntry) => (
          <li>
            <a href={`/docs/${docsEntry.slug}`}>{docsEntry.data.title}</a> - {docsEntry.data.description}
          </li>
        ))
      }
    </ul>
    <ul>
      {
        [
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
          ...postsEntries,
        ].map((postsEntry) => (
          <li>
            <a href={`/posts/${postsEntry.slug}`}>{postsEntry.data.title}</a> - [{postsEntry.data.tags?.join('; ')}]
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: 80ch;
    padding: 1.5rem;
  }

  h1 {
    background-image: var(--accent-gradient);
    background-position: 0%;
    background-size: 400%;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
